.newQuestionForm {
  width: 320px;
  padding-top: 30px;
  border-top: 1px solid #ddd;
  box-sizing: content-box;
}

.newQuestionLink {
  width: 300px;
  font-size: 14px;
}

.inputbox {
  resize: none;
}