.question {
  width: 320px;
  border: 0;
  box-shadow: 1px 1px 1px 1px #ccc;
}

.question .card-header, .question .card-footer {
  border: 0;
}

.answer {
  border: 0;
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px #ccc;
}

.answer .card-body {
  border-radius: 2.5px;
  color: white;
}

.answer .card-footer {
  background: #fbf7f0;
  font-size: 12px;
  border-top: 0;
}

.floatingButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 55px;
  height: 55px;
  background: #d7385e;
  border-radius: 50px;
  border-color: #d7385e;
  box-shadow: 1px 1px 1px 1px #ccc;
  color: #fff;
  line-height: 0;
}

@media (min-width: 568px) {
  .floatingButton {
    right: 20%;
  }
}

.floatingButton:hover {
  background: #fff;
  border-color: #fff;
  color: #d7385e;
}

.buttonInside {
  font-size: 40px;
  font-weight: bolder;
}

