.questionTitle {
  margin: 10px;
}

.allAnswers {
  text-align: center;
  margin: 0 auto;
  margin: 10px;
  height: 70%;
}

.answer {
  display: inline-block;
  margin: 10px;
}

.textareaBox {
  width: 100%;
  height: 200%;
}

.inputButton {
  margin: 10px;
}
