.question {
  width: 320px;
}

.question .card-header {
  border-bottom: 0;
}

.answer {
  border: 0;
  cursor: pointer;
}

.answer .card-body {
  border-radius: 2.5px;
  color: white;
}

.answer .card-footer {
  background: #fbf7f0;
  font-size: 12px;
  border-top: 0;
}

.floatingButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background: #212529;
  border-radius: 50px;
  border-color: #212529;
  color: #fff;
  box-shadow: 2px 2px 3px #999;
  line-height: 0;
}

.floatingButton:hover {
  background: #555555;
  border-color: #555555;
}

.buttonInside {
  font-size: 30px;
  font-weight: bolder;
}

